.footer {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/bg-letter.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.content {
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.madeBy {
    font-family: 'Hello Duckies', cursive;
    font-size: 1.2rem;
    color: #351110;
    margin: 0;
    text-align: center;
}

.logo {
    max-width: 300px;
    width: 50%;
    height: auto;
    opacity: 0;
    transform: scale(0.5);
}

.logo.visible {
    animation: popIn 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation-delay: 0.5s;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}