/* Layout */
.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/bg-hero.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.header {
    position: absolute;
    width: 100%;
}

.textContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.paperWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 400px;
}

.tape {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(-2deg);
    width: 50%;
    height: auto;
    z-index: 25;
    pointer-events: none;
    filter: opacity(0.9) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

.paper {
    width: 100%;
    height: auto;
    z-index: 10;
    pointer-events: none;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
    position: absolute;
    width: 70%;
    max-width: 320px;
    gap: 15px;
}

/* Typography & Animation Elements */
.typewriter {
    display: inline-block;
    width: 100%;

    font-family: "ZCOOL XiaoWei", sans-serif;

    color: #C39355;
    font-size: 40px;
    line-height: normal;
}

.typewriter:first-child {
    color: #C39355;
    text-align: center;
    font-family: Hello;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}