/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');


@font-face {
    font-family: 'Hello Duckies';
    src: url('../assets/fonts/HELLO DUCKIES.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hello Duckies';
    src: url('../assets/fonts/HELLO DUCKIES-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hello Duckies';
    src: url('../assets/fonts/HELLO DUCKIES-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}