.remember {
    width: 100%;
    min-height: 100vh;
    background: rgba(211, 195, 180, 1);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.star {
    position: absolute;
    width: 60px;
    height: auto;
    opacity: 0.8;
}

/* Image Container */
.imageContainer {
    position: relative;
    z-index: 2;
}

.rememberImage {
    max-width: 100%;
    height: auto;
    display: block;
    /* Opcional: algún efecto para que destaque más */
}

/* Posiciones dispersas (Same as before) */
.star:nth-child(1) {
    top: 1%;
    left: 5%;
    width: 50px;
    transform: rotate(15deg);
}

.star:nth-child(2) {
    top: 8%;
    right: 2%;
    width: 70px;
    transform: rotate(-10deg);
}

.star:nth-child(3) {
    top: 24%;
    left: 2%;
    width: 100px;
    transform: rotate(45deg);
}

.star:nth-child(4) {
    top: 36%;
    right: 2%;
    width: 60px;
    transform: rotate(-5deg);
}

.star:nth-child(5) {
    bottom: 40%;
    right: 0%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 40px;
}

.star:nth-child(6) {
    bottom: 38%;
    left: 1%;
    width: 35px;
    transform: rotate(60deg);
}

.star:nth-child(7) {
    bottom: 3%;
    right: 6%;
    width: 132px;
    transform: rotate(-25deg);
}

/* Text Overlay Container */
.textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
}

.textContainer .typewriter {
    font-family: "Viaoda Libre";
    color: #FFF8E4;
    max-width: 233px;
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 50px #E4C47F;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    rotate: -4deg;
    position: relative;
    right: 12px;
    top: 8px;
}

@media (max-width: 350px) {
    .textContainer .typewriter {
        max-width: 200px;
        font-size: 36px;
    }
}