.recap {
    width: 100%;
    min-height: 100vh;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recap video {
    max-width: 100%;
    max-height: 100vh;
}