.recap {
    width: 100%;
    position: relative;
    background-image: url('../../assets/bg-letter.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recapContainer {
    height: 400vh;
    /* Increased to make the move more noticeable */
    position: relative;
}

.stickyWrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.recapThanks {
    margin: 0 0 32px;
    color: #34100F;
    text-align: center;
    text-shadow: 0 0 12px #FFDDB2;
    font-family: Hello;
    font-size: clamp(56px, 18vw, 96px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recapYear {
    margin: 32px 0 0;
    color: #34100F;
    text-align: center;
    text-shadow: 0 0 12px #FFDDB2;
    font-family: Hello;
    font-size: clamp(56px, 18vw, 96px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.horizontalTrack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    /* Ensure it expands to fit overflow */
    will-change: transform;
    align-self: flex-start;
}

.recapImage {
    max-width: 300px;
    /* Using vw as '50%' often implies viewport width in these effects */
    flex-shrink: 0;
    object-fit: contain;
    user-select: none;
    padding: 0 20px;
    /* Subtle padding between images */
}
