.recap {
    width: 100%;
    position: relative;
    background-image: url('../../assets/bg-letter.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recapContainer {
    height: 400vh;
    /* Increased to make the move more noticeable */
    position: relative;
}

.stickyWrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.horizontalTrack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    /* Ensure it expands to fit overflow */
    will-change: transform;
}

.recapImage {
    width: 50vw;
    /* Using vw as '50%' often implies viewport width in these effects */
    flex-shrink: 0;
    object-fit: contain;
    user-select: none;
    padding: 0 20px;
    /* Subtle padding between images */
}