/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

/* index.css */
@import './styles/reset.css';
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/utilities.css';